<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../public/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <nav>

        <div class="nav-left">
            <a href="/"><img src="../public/assets/logo.png" alt="logo"></a>
            <ul>
                <li>
                    <a style="color:red;" href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Add Project</a>
                </li>
            </ul>
        </div>

        <div class="nav-right">
            <a href="/contact">Contact</a>
        </div>

    </nav>

    <div class="container">
        <div class="blog">
            <div class="projek">
                <h2>HI Welcome to my hut</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi quam, eum incidunt unde nam error
                    rem
                    quas. Nemo vitae praesentium molestiae numquam voluptate optio quisquam repudiandae maiores, commodi
                    culpa atque laboriosam accusantium iste reiciendis saepe consequuntur deleniti pariatur mollitia
                    modi
                    similique. Similique eum consequatur unde veniam illo eveniet inventore.</p>

                <div style="display: flex; margin-bottom: 40px;">
                    <a href="/contact">
                        <p style="border-radius: 20px;
                                    background-color: black;
                                    color: white;
                                    width: 50px;
                                    border: none;
                                    padding: 8px 30px;
                                    margin-right: 20px;">Contact</p>
                    </a>
                    <p style="margin-top: 20px;">Download
                        <a style="text-decoration: none;
                                color: black;" href="">
                            <img src="https://cdn-icons-png.flaticon.com/512/3580/3580085.png" width="20px" alt="">
                        </a>
                    </p>
                </div>

                <div class="icon">
                    <a href=""><img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" width="30px"
                            alt=""></a>
                    <a href=""><img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" width="30px"
                            alt=""></a>
                    <a href=""><img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" width="30px"
                            alt=""></a>
                    <a href=""><img src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png" width="30px"
                            alt=""></a>
                </div>

            </div>

            <div class="card" style="text-align: center;">
                <img src="../public/assets/foto.jpeg" width="300px" alt="">
                <h2 style="margin-top: 5px;">Farhan Afiffendi</h2>
                <p style="margin-top: -20px;">Fullstack Developer</p>
            </div>
        </div>

    </div>

    <div class="container-form">
        
        <h1 style="text-align: center;">My Project</h1>
        {{!-- <div style="text-align: right; margin-right: 150px; margin-top: 50px">
        <a href="/blog" style="background-color: orangered; padding: 10px 20px; border-radius: 5px; color: white; text-decoration: none">Add New Blog</a>
        </div> --}}

        <div id="contents" class="blog-list">
            {{#each blogs}}
            <div class="blog-list-item">
                <div class="blog-image">
                    <img src="https://media.istockphoto.com/photos/smart-female-it-programer-working-on-desktop-computer-in-data-center-picture-id1194430803"
                        alt="" />
                </div>
                <div class="blog-content">
                    <h4>
                        <a href="/blog-detail/{{this.id}}" target="_blank">{{this.project}}</a><br>
                    </h4>
                    <p style="color: gray;">{{this.duration}}</p>
                    <div>{{this.description}}</div>
                    {{#each technologies}}
                    <i class="{{this}}" style="font-size: 30px;"></i>
                    <i class="{{this.node}}" style="font-size: 30px;"></i>
                    <i class="{{this.react}}" style="font-size: 30px;"></i>
                    <i class="{{this.html}}" style="font-size: 30px;"></i>
                    <i class="{{this.javascript}}" style="font-size: 30px;"></i>
                    {{/each}}
                    {{!-- <p style="font-size: 12px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolore sit blanditiis nulla et aspernatur.
                    </p> --}}
                    {{#if isLogin}}
                    <div class="btn-group">
                        <a href="/update-blog/{{this.id}}" class="btn-edit">Edit</a>
                        <a href="/delete-blog/{{this.id}}" class="btn-post">Delete</a>
                    </div>
                     {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>

</html>